<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de Red VS Blue</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text>
    <h1>Que es?</h1>
    <p>Red vs. Blue es una serie web de comedia de ciencia ficción creada por Rooster Teeth Productions. Utilizando la técnica de machinima, la serie sincroniza diálogos y efectos de audio con secuencias de videojuegos, principalmente de la franquicia Halo. La trama sigue a dos equipos de soldados, el Rojo y el Azul, que se enfrentan en una guerra civil ficticia en el desolado cañón de Blood Gulch. La serie parodia los juegos de disparos en primera persona, la vida militar y las películas de ciencia ficción. Desde su estreno el 1 de abril de 2003, ha ganado popularidad y ha sido elogiada por su originalidad y humor. </p>
    <h2>Sinopsis</h2>
    <p>La historia se centra en los equipos Rojo y Azul, dos grupos de soldados que participan en una supuesta guerra civil. Cada equipo ocupa una base en el cañón conocido como Blood Gulch. Según Simmons, uno de los soldados del equipo Rojo, las bases de cada equipo existen únicamente en respuesta a la del otro. Aunque ambos equipos tienen órdenes de derrotar a sus oponentes y capturar su bandera, ninguno muestra una motivación real para combatir. Los personajes poseen personalidades excéntricas, lo que genera situaciones humorísticas y conflictos internos más que enfrentamientos reales entre los equipos.</p>
    
  </ion-text>
    <ion-list>
      <ion-list-header>
        <ion-label>Cantidad de temporadas</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>The Blood Gulch Chronicles: Comprende las temporadas 1 a 5, narrando los eventos iniciales en Blood Gulch.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Recollection: Incluye las temporadas 6 a 8, explorando las consecuencias de los eventos anteriores y profundizando en el Proyecto Freelancer.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Proyecto Freelancer: Abarca las temporadas 9 y 10, sirviendo como precuela y mostrando los orígenes del Proyecto Freelancer.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Chorus Trilogy: Comprende las temporadas 11 a 13, donde los equipos se ven involucrados en una guerra civil en el planeta Chorus.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Anthology y Standalone: Incluye las temporadas 14 y 15, presentando historias independientes y antologías relacionadas con el universo de Red vs. Blue.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Shisno Paradox y Singularity: Corresponde a las temporadas 16 y 17, explorando viajes en el tiempo y realidades alternativas.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Zero: Temporada 18, introduce un nuevo elenco y se enfoca más en la acción, distanciándose de la narrativa original.</ion-label>
      </ion-item>
      <ion-list-header>
        <ion-label>Actores de voz</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img src="assets/images/characters/sarge.jpg">
        </ion-avatar>
        <ion-label>Sarge: Matt Hullum</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img src="assets/images/characters/simmons.jpg">
        </ion-avatar>
        <ion-label>Simmons: Gus Sorola</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img src="assets/images/characters/grif.jpg">
        </ion-avatar>
        <ion-label>Grif: Geoff Ramsey</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img src="assets/images/characters/lopez.jpg">
        </ion-avatar>
        <ion-label>Lopez: Burnie Burns</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img src="assets/images/characters/church.jpg">
        </ion-avatar>
        <ion-label>Church: Burnie Burns</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img src="assets/images/characters/tucker.jpg">
        </ion-avatar>
        <ion-label>Tucker: Jason Saldaña</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img src="assets/images/characters/caboose.jpg">
        </ion-avatar>
        <ion-label>Caboose: Joel Heyman</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img src="assets/images/characters/tex.jpg">
        </ion-avatar>
        <ion-label>Tex: Kathleen Zuelch</ion-label>
      </ion-item>
    </ion-list>
    <ion-text>
      <h2>Spinoffs</h2>
      <p>Además de la serie principal, Red vs. Blue ha generado varias miniseries y contenido adicional que expanden su universo:</p>
      <ion-list>
        <ion-item>
          <ion-label>Out of Mind</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Recovery One</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Relocated</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Family Shatters</ion-label>
        </ion-item>
      </ion-list>
      <h2>Su huella en la comunidad</h2>
      <p>
        Red vs. Blue ha tenido un impacto significativo en la comunidad de Halo y en la cultura gamer en general. La serie es ampliamente reconocida por atraer la atención pública hacia el machinima, una técnica que utiliza motores de videojuegos para crear animaciones. Aunque ejemplos de machinima existían desde la década de 1990, Red vs. Blue fue el primero en salir de la clandestinidad y ganar popularidad masiva. Su éxito ha influido en la percepción y popularidad del machinima como forma de arte. 
      </p>
      <p>
        Además, la serie ha dejado su huella en el universo de Halo. Por ejemplo, en Halo 3, Bungie incluyó un logro llamado "Is it a spider?" en referencia a una broma de Red vs. Blue sobre el Warthog. Aunque estas referencias son considerados huevos de Pascua y no forman parte del canon oficial de Halo, demuestran la influencia y el reconocimiento de la serie dentro de la comunidad de jugadores y desarrolladores. 
      </p>
      <p>
        La serie también ha sido elogiada por su originalidad y ha ganado varios premios, incluyendo cuatro galardones en festivales organizados por la Academy of Machinima Arts and Sciences. Su éxito ha contribuido a la popularización del machinima y ha influido en la creación de contenido similar en la comunidad de jugadores. 
      </p>
    </ion-text>
</ion-content>
