<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Red VS Blue Homenaje</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <ion-text class="ion-text-center">
          <h1>Red VS Blue</h1>
        </ion-text>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col class="ion-justify-content-center"> 
           <img src="assets/rvb.jpg" alt="Red VS Blue logo">
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="text-place">
    <ion-text class="ion-text-center">
      <p>Es una machinima creado por Rooster Teeth acerca de dos equipos, rojo y azul, encerrados en un cañon, enfrentandose entre sí. Una parodia de la franquicia de video juegos Halo.
      </p>
    </ion-text>
  </div>
  <div class="video-place">
    <iframe src="https://www.youtube.com/embed/dGxY9d4B17c?si=bNFYf0QtGQ8VhYt5" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
      gyroscope; picture-in-picture; web-share" width="100%" height="415">
    </iframe>
  </div>
</ion-content>
