.slider-container {
    display: flex;
    overflow-x: auto;
    gap: 5px;
    padding: 5px;
    padding-right: 5px;
  }
  
  .slider-item {
    flex: 0 0 auto;
    width: 360px;
    height: 210px;
    scroll-snap-align: start;
  }
  
  .slider-container {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: auto;
  }
  